 body {
  margin: 0;
  padding: 0;
  background-image:url("Images/light-grey-terrazzo.png");
   
}
 
.nav ul {
  list-style: none;
  background-color:blueviolet ;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color:darkorange
}
 
.nav a.active {
  background-color:darkorange;
  color: #444;
  cursor: default;
}

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
 

 
   h1{
    
    text-align: center;
     font-family: cursive;
     color:blueviolet;
       font-size:40pt
}


   h2{
    
     font-family: cursive;
     color:orangered;
       font-size:20pt;

}


p{
    font-family: cursive;
    font-size:14pt;
    color: cadetblue;
    
}

  #about p { float:left;height: auto; width:600px; margin-left:100px }
    #about img { float:left;margin-left: 100pt;height:300px;width:300px }
#about{
    
    margin-top:80px;
    margin-bottom:500px
}
li{
    font-family: cursive ;
    color: crimson;
    font-size: 15pt;
    font-weight: 700;
}
#tips{margin-left: 20px;
margin-right: 20px}




#sticky {
  width:100%;
  padding:20px;
  padding-bottom:16px;
  background:orangered;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  position:fixed;    
  bottom:0;          
  left:0; 
  height:10px
 
}

#goup{
    display: inline;
    position: absolute;
    left:1240px;
    top:1300px;
    text-align: center;
    color: blueviolet;
    font-family: cursive;
    
}

#goup img{
    
    height:60px;width: 60px;
}






